<div>
	<div class="panel">
		<h2>Create an Account</h2>
		<form role="form" ng-submit="create()">
			<div class="form-group">
				<label for="username">Username</label>
				<input class="form-control" type="text" id="username" ng-model="user.username" />
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input class="form-control" id="password" class="form-control" type="password" ng-model="user.password" />
			</div>
			<div class="form-group">
				<label for="password2">Re-type Password</label>
				<input class="form-control" id="password2" class="form-control" type="password" ng-model="user.password2" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Create Account</button>
			</div>
		</form>
		{{ session.user_id }}
	</div>
</div>