<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js">
    </script>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lustria|Fondamento|Exo+2' rel='stylesheet' type='text/css'>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="/static/style2.css" rel="stylesheet">
    <title>HourFlask</title>
  </head>
  <body class="text-center">
  {% block content %}
  {% endblock content %}
  </body>
</html>