{% extends "layout.html" %}
{% block body %}
  <h2>Create an Account</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form action="{{ url_for('create_user') }}" method=post>
    <div class="form-group">
      <label>Username:</label>
      <input class="form-control" type="text" name="username">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" type="password" name="password">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" type="password" name="password2">
    </div>
    <button class="btn btn-primary" type="submit">Create Account</button>
  </form>
{% endblock %}